<h1>{{ComponentName}}</h1>
<button class="btn btn-sucess" (click)="handClick()">Click</button>
<h3>{{Status}}</h3>
<div *ngIf="Status">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of listProduct">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td><button class="btn btn-sucess" (click)="handRemove(product.id)">Xoa</button></td>
            </tr>
        </tbody>
    </table>
</div>